@model IEnumerable<WebYalex.Models.clientes>

@{
    ViewBag.Title = "Tabla de Clientes";
}

<h2>Tabla de Clientes</h2>

<p>
    @Html.ActionLink("+ Crear Cliente", "Create", "", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dui)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.contrasena)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.rol)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.licencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dui)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.contrasena)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.rol)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
