@model IEnumerable<WebYalex.Models.empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Empleados</h2>

<p>
    @Html.ActionLink("+ Crear Nuevo Empleado", "Create", "", new { @class = "btn btn-success" })
</p>
<div>
    @Html.Label("Buscar:")
    @Html.TextBox("searchString", null, new { id = "searchStringInput", @class = "form-control" })
</div>
<table id="tablaEmpleado" class="table">
    <tr class="empleado-row">
        <th>
            @Html.DisplayNameFor(model => model.id_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contrasena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rol)
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_empleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rol)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
    }

</table>


@section scripts {
    <script>
        $(function () {
            // Capturar cambios en el textbox
            $('#searchStringInput').on('input', function () {
                var searchString = $(this).val().trim().toLowerCase();
                filterTable(searchString);
            });

 

            // Función para filtrar la tabla
            function filterTable(searchString) {
                $('#tablaAlquiler tbody tr').each(function () {
                    var rowText = $(this).text().trim().toLowerCase();
                    if (rowText.includes(searchString)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    </script>
}